table {
	width: 100%;
	height: 100%;
	text-align: center;
}
th {
	font-size: 20px;
	height: 1px;
}
#drapeTable {
	height: 100%;
}
.button {
	cursor: pointer;
}
.button.Open {
	background-color: #242;
}
.button.Close {
	background-color: #422;
}
.button:hover {
	background-color: #000;
}
