table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
thead {
	background-color: #555;
	font-weight: bolder;
}
thead td {
	padding: 5px;
}
tbody > tr {
	height: 50px;
}
tbody td {
	width: 100px;
	background-color: #111;
}
tbody td:hover {
	background-color: #000;
}
.Open {
	background-color: #242;
}
.Close {
	background-color: #422;
}
