table {
	width:100%;
	text-align: center;
	height:100%;
}
tbody {
	height:100%;
}
.button {
	width: 100px;
}


.drapeTable>tbody>tr:first-child>td {
	background-color: #111;
	padding: 5px;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
}
tbody td {
	width: 1px;
}
a {
	display:block;
	height:100%;
	width: 100%;
	text-decoration: none;
}
.Open {
	background-color: #242;
}
.Close {
	background-color: #422;
}
.Auto {
	background-color: #224;
}
