table {
	width:100%;
	text-align: center;
	height:100%;
}
tbody {
	height:100%;
}
tbody td {
	width: 100px;
}
tbody > tr > th {
	height:1px;
	padding-top: 7px;
	padding-bottom: 5px;
	font-size: 18px;
}
.button {
	background-color: #242;
}
.North.button {
	background-color: #342;
}
.South.button {
	background-color: #243;
}
