table {
	width:100%;
	text-align: center;
	height:100%;
}
td {
	width: 100px;
}
#presets > tr > td {
	table-layout: fixed;
}
#Studio_North .button {
	background-color: #553;
}
#Studio_South .button {
	background-color: #355;
}
#Global .button {
	background-color: #242;
}
#Studio_North .button:hover, #Studio_South .button:hover, #Global .button:hover {
	background-color: #111;
}
