html {
	height: 100%;
	width: 100%;
	overflow:hidden;
	font-family: sans-serif;
}
body {
	background-color: #222;
	color: #fff;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	padding: 1px; /* This keeps elements from putting their margins outside of body */
}
h1 {
	text-align: center;
	margin-top: 12px;
	margin-bottom: 12px;
}
h3 {
	text-align:center;
}
a {
	height: 100%;
	width: 100%;
	color: #fff;

}
.button {
	box-sizing: border-box;
	padding: 5px;
	height: 57px;
	background-color: #444;
	cursor: pointer;
}
body .button:hover {
	background-color: #000;
}
